body {
  font-family: Arial, sans-serif;
  background:url('C:\Users\Admin\Downloads\download.jfif')no-repeat center fixed;
  background-size:cover;

  margin: 5px;
  padding: 5px;
  background-color: #f9f9f9;
}

nav {
  background-color: #444;
  padding: 1 em;
  text-align: center;
}

nav a {
  color: orchid;
  margin:  15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2em;
}

